<ion-view title="Calibration">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel ng-if="!mobile"></save-panel>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>

    <ion-content class="has-header fv-theme-calibrate" scroll="false">
        <div class = "card">
            <div><h3 class  = "calibrate-content-title"> Step 1: Connect Your Brace </h3></div>
            <div><p class  = "calibrate-content-instructions"> Place the brace on your knee and turn on the bluetooth receiver on both the band and your device. </br></br> The next step will be to calibrate the brace for today’s exercise.</p></div>
            <div class = "row" style="vertical-align: middle">
                <div class = "col" style = "align-self: center; text-align: center"><img src="\img\physioBuddy\knee-icon.png" style="width: 50%"></div>
                <div class = "col" style = "align-self: center; text-align: center"><img src="\img\physioBuddy\bluetooth-icon.png" style="width: 80%"></div>
                <div class = "col" style = "align-self: center; text-align: center"><img src="\img\physioBuddy\phone-icon.png" style="width: 25%"></div>
            </div>
        </br>
        <div class="calibrate-content-button">
            <button ui-sref = "physiobuddyBraceConnected", class = "button">Brace Connected</button>
        </div>
  </ion-content>

</ion-view>