<ion-view title="Physiobuddy" >
    
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel ng-if="!mobile"></save-panel>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>

    <ion-content class="has-header fv-theme-exercise" scroll="false"> 
    <!-- <not-connected></not-connected> -->
        <div class = "exercise-content">
            <div class = "row", style = "justify-content: center; align-items: center;">
            <h2 class=  "exercise-content-title">  Flat Knee Flex</h2></div>
            
            <div class = "row", style = "justify-content: center; align-items: center"> <p> 0/5 Repititions</p></div>

           <div class = "row", style = "justify-content: center; align-items: center"> <p> Push harder to get in the green zone!</p></div>

            <div class = "row", style = "justify-content: center; align-items: center; height: 40%", id = "physiobuddyExerciseWindow" ><p>animations should go here</p></div>

            <div class="calibrate-content-button"><button  ng-click = "startExercise()", class = "button-exercise">Start Recording</button></div>

            <div class="calibrate-content-button"><button ui-sref = "physiobuddy", class = "button-exercise"> Home</button></div>
             <div class = "calibrate-content-pictures" style = "position: absolute; bottom:0; align-content: center"> 
                <div class = "row" style = "height: 100%">
                <div class = "col"> <img src="\img\physioBuddy\starting-position.png" style = "width: 100%; height: 100%">
                </div>
                <div class = "col"> <img src="\img\physioBuddy\arrow-icon.png" style = "width: 40%; height: auto; vertical-align: middle; margin: 10% 30% 10% 30%;">
                </div>
                <div class = "col" > <img src="\img\physioBuddy\ending-position.png" style = "width: 100%; height: 100%">
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>