<ion-view title="Calibration">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel ng-if="!mobile"></save-panel>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>

<ion-content class="has-header fv-theme-calibrate" scroll="false">
    <!-- <not-connected></not-connected> -->
    <div class = "card">
        <div>
            <h2 class  = "calibrate-content-title"> Step 2: Calibrate Your Brace </h2> 
        </div>
        <div>
              <p class  = "calibrate-content-instructions">
              Press "Start Recording" and push the injured knee to the ground as shown below. The recording will automatically stop after 5 seconds. </p>
        </div>
         <div id = "physiobuddyCalibrateWindow">
           <p class = "calibrate-content-graph"> animations should go here </p>
        </div>
           <div id = "physiobuddyCalibrateWindow">
           <p class = "calibrate-content-countdown"> 321 </p>
        </div>
   
        <button ng-click = "setMVC()">StartRecording</button>
        <button ui-sref = "physiobuddyCalibrated", class = "calibrate-content-button">Calibrated</button>

        <div class = "calibrate-content-pictures"> Test </div>

    </div>
</ion-content>

</ion-view>