<ion-view title="Calibration">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel ng-if="!mobile"></save-panel>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
  <ion-content class="has-header fv-theme" scroll="false">
    <!-- <not-connected></not-connected> -->
    <h1> Step 2: Complete</h1>
    <p>Your brace is now ready to go! Here's a reminder of your exercise:</p>
    <button ui-sref = "physiobuddyExercise">Start Exercise</button>
  </ion-content>
</ion-view>