<ion-view title="Calibration">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel ng-if="!mobile"></save-panel>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <img src="\img\physioBuddy\check-icon.png" style = "height: 20px; margin-top: 7px;"><br>
         <p style = "padding-top: 7px; color: #2980B9"> Brace Connected </p>
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>

    <ion-content class="has-header fv-theme-calibrate" scroll="false">
        <!-- <not-connected></not-connected> -->
        <div class="card-container">
            <div class = "card">
                <div class="card-content">
                    <div>
                        <h3 class  = "calibrate-content-title"> Step 2: Calibrate Your Brace </h3> 
                    </div>
                    <div>
                          <p class  = "calibrate-content-instructions">
                          Press "Start Recording" and push the injured knee to the ground as shown below. <br>The recording will automatically stop after 5 seconds. </p>
                    </div>
                    <br>
                     <div id = "physiobuddyCalibrateWindow">
                       <p class = "calibrate-content-graph"> animations should go here </p>
                    </div>
                       <div id = "physiobuddyCalibrateWindow">
                       <p class = "calibrate-content-countdown"> 321 </p>
                    </div>
                    <br><br>
                    <div class = "calibrate-content-button">
                        <button ng-click = "setMVC()", class = "button">StartRecording</button>
                         
                         <button ui-sref = "physiobuddyCalibrated", class = "button"calibrate-content-button" >Calibrated</button>
                    </div>
                </div>
                <br>
                <div class="card-footer">
                    <div class = "row"> 
                        <div class="col" style="margin: auto;">
                            <img src="\img\physioBuddy\starting-position.png" style="max-block-size:100px;display: block;margin: auto;">
                        </div>
                        <div class="col" style="margin: auto;">    
                            <img src="\img\physioBuddy\arrow-icon.png" style="padding: 15%">
                        </div>
                        <div class="col" style="margin: auto;">        
                        <img src="\img\physioBuddy\ending-position.png" style="max-block-size:100px;display: block;margin: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>