<ion-view title="Physiobuddy" >
    
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel ng-if="!mobile"></save-panel>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>

    <ion-content class="has-header fv-theme-exercise" scroll="false"> 
    <!-- <not-connected></not-connected> -->
        <div class = "exercise-content">
            <div class = "row", style = "justify-content: center; align-items: center;">
            <h2 class=  "exercise-content-title">  Flat Knee Flex</h2></div>
            
            <div class = "row", style = "justify-content: center; align-items: center"> <p> 0/5 Repititions</p></div>

           <div class = "row", style = "justify-content: center; align-items: center"> <p> Push harder to get in the green zone!</p></div>

            <div class = "row", style = "justify-content: center; align-items: center; height: 40%", id = "physiobuddyExerciseWindow" ><p>animations should go here</p></div>

            <div class="calibrate-content-button"><button  ng-click = "startExercise()", class = "button-exercise">Start Recording</button></div>

            <div class="calibrate-content-button"><button ui-sref = "physiobuddy", class = "button-exercise"> Home</button></div>

            <div class = "row"> 
                <div class="col" style="margin: auto;">
                    <img src="\img\physioBuddy\starting-position.png" style="max-block-size:100px;display: block;margin: auto;">
                </div>
                <div class="col" style="margin: auto; text-align: center;">    
                    <img src="\img\physioBuddy\arrow-icon.png" style="padding: 15%">
                </div>
                <div class="col" style="margin: auto;">        
                    <img src="\img\physioBuddy\ending-position.png" style="max-block-size:100px;display: block;margin: auto;">
                </div>
            </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>