
 .bar.bar-balanced {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
    color: #000; }
    .bar.bar-balanced .title {
      color: #000; }
.nav-bar-block {
  position: left;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9; }

.fv-theme-calibrate {
  background-color: #3498DB; }

/* White part of the calibration page */
 .calibrate-content {
 	background-color: #FFFFFF;
 	position: absolute;
 	width: 80%;
  	height: 75%;
  	left: 50%;
  	top: 50%;
  	padding: 20px;
 }

.calibrate-content-title{


}
