/* Adjusting his overall look */

.bar.bar-balanced {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  background-image: linear-gradient(0deg, #000000, #000000 50%, transparent 50%);
  left: 0px;
  color: #000; 
  }

.nav-bar-block {
  position: left;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9; 
}

.bar .title {
    display: block;
    position: left;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0px;
    min-width: 30px;
    height: 30px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px; 
  }

/* blue background of calibration flow */
.fv-theme-calibrate {
  background-color: #3498DB; 
}

.fv-theme-exercise{
  background-color: #FFFFFF;
}

/* white card styling */
.card {
  margin: 8% 13% 8% 13% ;
  padding-top: 5%;
  padding-bottom: 0%;
  padding-left: 8%;
  padding-right: 8%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


/* Step colours for calibration flow */
.calibrate-content-title{
 color: #2980B9; 
 text-align:center;
 font-family: Open Sans;}

 .calibrate-content-title-complete{
 color: #27AE60; 
 text-align:center;
 font-family: Open Sans;}

.calibrate-content-instructions{
  color: #000; 
  padding: 20;
  margin-top: 3%;
  text-align: center;
}

.calibrate-content-graph{
	margin: 10%;
}

.calibrate-content-countdown{
	margin: 5%;
}

.calibrate-content-pictures{
		background-color: #F2F2F2;
		background-color-opacity: 20%;
    margin-left: -13%;
    margin-right: -13%;
    padding-bottom:-10%;
}

.calibrate-content-button{
  margin:2%;
  text-align: center;
}

.button{
  background: #3498db;
  border-radius: 28px;
  border-color: 2A9FD8;
  border-width: 1px;
  color: #ffffff;
  font-size: 100%;
  text-align: center;
}

#bluetooth-animation img {
  height: 50px; 
  width: auto;
  margin: 40px;
  align-items: center;
}

.step-completed {
  vertical-align: middle;
}

.step-completed img {
  width: 5%; 
  margin-right: 5px; 
  position: relative; 
  top:3px
}

/* EXERCISE PAGE */
